.root-bg-danger {
  background: url("https://res.cloudinary.com/dza2t1htw/image/upload/v1686487933/svgviewer-png-output_yjuzgg.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.root-bg-success {
  background: url("https://res.cloudinary.com/dza2t1htw/image/upload/v1686487933/svgviewer-png-output_yjuzgg.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.content-wrap {
  @apply rounded-xl relative mx-auto flex;
}

.login-wrap {
  @apply h-screen flex flex-col relative w-full justify-center;
}

.bg-danger {
  background: rgb(237, 50, 98);
  background: linear-gradient(
    138deg,
    rgb(249 0 64 / 29%) 0%,
    #191b216e 45%,
    rgb(25 27 33) 100%
  );
  z-index: -1;
}

.bg-success {
  background: #3dbb9a;
  background: linear-gradient(
    138deg,
    rgba(61, 189, 155, 0.418) 0%,
    rgb(25 27 33) 45%,
    rgb(25 27 33 / 29%) 100%
  );
  z-index: -1;
}

.bg-right-login {
  background: #15191e;
}

.sm-none {
  @media (max-width: 900px) {
    display: none !important;
  }
}
